---
http_interactions:
- request:
    method: get
    uri: http://www.bensbenzes.com/api/v1/cars/active/68
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":68,"make":"Honda","model":"Civic","year":"1996","color":"Blue","vin":"XXXXXXXXXXXXXX","dealer_id":34}'
  recorded_at: Tue, 09 Sep 2014 23:23:44 GMT
recorded_with: VCR 2.9.2
